h1,
h2,
h3,
h4,
h5,
p,
li {
  font-family: 'Spectral', serif;
  font-weight: 200;
  color: #22223b;
}
h1 {
  font-size: xx-large;
}

html {
  background-color: #f9f7f7;
}
.highlight {
  color: #f9f7f7;
}

/*  NAVIGATION  */

.nav {
  display: flex;
  height: 70px;
  /* border-bottom: 1px solid black; */
  margin-left: 60px;
  margin-right: 50px;
  align-items: baseline;
}

ul {
  list-style: none;
  display: flex;
  padding: 10px;
  margin-left: auto;
}
.nav-link {
  /* text-decoration: none; */
  color: #22223b;
  justify-content: end;
  padding-left: 20px;
}
.nav-link:hover {
  color: #9a8c98;
  cursor: pointer;
}

/* LINKS */
a:hover {
  text-decoration: underline;
  color: #9a8c98;
  cursor: pointer;
}
a {
  color: #22223b;
}

/* Color container */
.block-container {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  width: 100%;
  /* box-sizing: border-box; */
  height: fit-content;
  background-color: #f2a900;
  /* align-content: space-between; */
}

.photo img {
  width: 60%;
  height: auto;
  /* margin: 20px; */
  float: right;
  /* margin-right: 50px; */
  min-width: 40%;
  /* padding-top: 35px; */
  padding: 30px;
}
.introduction {
  /* border: 1px solid black; */
  min-width: 100%;
}
.introduction h1 {
  padding: 35px 10px 10px 10px;
  /* margin-left: 50px; */
  display: flex;
  justify-content: center;
  text-align: center; 
} 
.introduction p {
  text-align: center;
}
#subtitle {
  display: block;
  text-align: center;
}
.block-container p {
  padding: 10px 10px;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.about-me {
  margin-left: 20px;
  margin-top: 10px;
  width: 100%;
}

.about-me h1 {
  /* padding: 35px 10px 10px 10px;
  margin-left: auto; */
  display: flex;
}
.about-me p {
  padding: 10px 10px;
  /* margin-left: 50px; */
  width: 120%;
  text-align: justify;
  text-justify: inter-word;
}
.about-container {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  width: 100%;
  /* box-sizing: border-box; */
  height: fit-content;
  background-color: #f2a900;
  /* align-content: space-between; */
}

/* LATEST BLOGS */

.blog-container {
  /* border: 5px solid black; */
  display: flex;
  padding: 10px;
  margin: 5px;
}

h3 {
  text-align: center;
}

.blog-container img {
  width: 95%;
  height: auto;
  margin: auto;
  display: flex;
  padding-top: 5px;
}
.jsexample {
  padding-top: 5px;
  padding-bottom: 5px;
}

.latest-blog {
  /* border: 1px solid black; */
  width: 50%;
  height: fit-content;
}
.blog-title {
  margin-left: 10px;
}
.blurb {
  margin-left: 10px;
  margin-right: 10px;
}
i {
  font-size: smaller;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
  height: 80px;
}

/* BLOG PAGE */
.blog-entry {
  padding-bottom: 20px;
}
.blog-entry p,
h2 {
  padding: 10px 30px;
}
#values {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}
#eq {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  list-style-type: circle;
}
.quote {
  background-color: #9a8c98;
  color: #22223b;
}

/*   ----    BOTTOM NAVIGATION  -----   */


.back-button:hover,
.next-button:hover {
  background-color: #f2a900;
  color: #f9f7f7;
  text-decoration: none;
}

.back-button, .next-button {
  background-color: #9a8c98;
  color: #f9f7f7;
  /* transform: translate(-50%, -50%); */
  border-radius: 0;
  margin-bottom: 50px;
  text-decoration: none;
  padding: 8px 16px;
}


.bottom-nav {
  position: absolute;
  padding-top: 50px;
  left: 50%; /* Moves button to the middle horizontally */
  transform: translate(-50%, -50%); Centers the button */
  padding: 10px 20px;
  gap: 20px;
  
}

/*   JS Example   */
#js-example {
  font-weight: 600;
}
#js-example:hover {
  cursor: pointer;
}


/* MEDIA QUERIES */
@media (min-width: 225px) and (max-width: 1000px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }
  h1 {
    font-size: 44px;
    margin-bottom: 10px;
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .nav-link {
    padding: 5px 0;
  }
  /* Color container */
  .block-container,
  .about-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
    height: fit-content;
    background-color: #f2a900;
  }
  .introduction p {
    text-align: center;
  }

  .photo img {
    display: block;
    margin: 0 21%;
    width: 50%;
    padding-bottom: 20px;
    height: auto;
    min-width: 40%;
    justify-content: center;
  }

  .block-container p {
    justify-content: center;
  }
  .about-me h2 {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    width: 100%;
  }
  .about-me {
    /* padding: 10px 10px; */
    /* margin-left: 20px; */
    width: 93%;
  }
  .about-me p {
    text-justify: inter-word;
    padding-right: 20px;
  }
  .about-container p {
    width: 90%;
    margin-left: auto;
    padding-right: 10px;
  }
  .blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    margin: 5px;
    justify-content: center;
  }
  .latest-blog {
    /* border: 1px solid black; */
    width: 90%;
    height: fit-content;
  }
  .latest-blog h4,
  p {
    padding-left: 10px;
  }
  .jsexample {
    max-width: 100%;
  }

  /*   ----    BOTTOM NAVIGATION  -----   */
  
  
  .back-button, .next-button {
    background-color: #9a8c98;
    color: #f9f7f7;
    margin-bottom: 50px;
    text-decoration: none;
    padding: 8px 16px;
    font-size: .9em;
    
  }
  
  
  .bottom-nav {
    position: absolute;
    margin-top: 50px;
    left: 50%; /* Moves button to the middle horizontally */
    transform: translate(-50%, -50%); /* Centers the button */
    display: flex;
    align-content: center;
    width: auto;
    padding: 10px 10px;
    gap: 20px;  
  }




}

/* color palette
#4a4e69 #22223b #f2a900 #f9f7f7 #9a8c98 */
