h1,
h2,
h3,
h4,
h5,
p,
li {
  font-family: 'Sprectral', serif;
  font-weight: 200;
  color: #22223b;
}
h1 {
  font-size: xx-large;
}

html {
  background-color: #f9f7f7;
}

/*  NAVIGATION  */

.nav {
  display: flex;
  height: 70px;
  /* border-bottom: 1px solid black; */
  margin-left: 60px;
  margin-right: 50px;
  align-items: baseline;
}

ul {
  list-style: none;
  display: flex;
  padding: 10px;
  margin-left: auto;
}
.nav-link {
  text-decoration: none;
  color: #22223b;
  justify-content: end;
  padding-left: 20px;
}
.nav-link:hover {
  color: #9a8c98;
  cursor: pointer;
}

/* LINKS */
a:hover {
  text-decoration: underline;
  color: #9a8c98;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #22223b;
}

/* Color container */
.block-container {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  width: 100%;
  /* box-sizing: border-box; */
  height: fit-content;
  background-color: #f2a900;
  /* align-content: space-between; */
}

.photo img {
  width: 100%;
  height: auto;
  margin: 20px;
  float: right;
  margin-right: 50px;
  min-width: 40%;
  padding-top: 35px;
  padding-right: 10px;
}

h2 {
  padding: 35px 10px 10px 10px;
  margin-left: 50px;
  display: flex;
}
.block-container p {
  padding: 10px 10px;
  margin-left: 50px;
  width: 60%;
}

/* LATEST BLOGS */

.blog-container {
  /* border: 5px solid black; */
  display: flex;
  padding: 10px;
  margin: 5px;
}

h3 {
  text-align: center;
}

.blog-container img {
  width: 95%;
  height: auto;
  margin: auto;
  display: flex;
  padding-top: 5px;
}

.latest-blog {
  /* border: 1px solid black; */
  width: 50%;
  height: fit-content;
}
.blog-title {
  margin-left: 10px;
}
.blurb {
  margin-left: 10px;
}
i {
  font-size: smaller;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}

/* BLOG PAGE */
.blog-entry {
  /* border: 1px solid black; */
}
.blog-entry p {
  padding: 10px 30px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 425px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }
  h1 {
    font-size: 44px;
    margin-bottom: 10px;
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .nav-link {
    padding: 5px 0;
  }
  /* Color container */
  .block-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
    height: fit-content;
    background-color: #f2a900;
  }

  .photo img {
    display: block;
    margin: 0 25%;
    width: 50%;
    padding-bottom: 20px;
    height: auto;
    min-width: 40%;
  }

  h2 {
    padding: 5px;
    margin-left: 30px;
    display: flex;
    text-align: center;
  }
  .block-container p {
    /* padding: 5px; */
    margin-left: 30px;
  }
  .blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    margin: 5px;
    justify-content: center;
  }
  .latest-blog {
    /* border: 1px solid black;  */
    width: 90%;
    height: fit-content;
  }
}

/* color palette
#4a4e69 #22223b #f2a900 #f9f7f7 #9a8c98 */
